{% extends "base.html" %}

{% block content %}
<div class="bg-white p-8 rounded-2xl shadow-lg w-full max-w-sm">
    <form id="fetchForm" class="space-y-4">
        <input type="text" id="videoUrl" placeholder="Enter YouTube URL" autocomplete="off" required
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500">
        <button type="submit"
            class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition">
            Get
        </button>
    </form>

    <div id="error" class="error-message" style="display:none;"></div>

    <div id="streams" style="display:none;">
        <image id="video-thumbnail" class="pb-4"></image>

        <div id="actions" class="space-y-4"></div>

        <!--
        <h2>All available formats</h2>
        <table>
            <thead>
                <tr>
                    <th>Resolution</th>
                    <th>Video Codec</th>
                    <th>Includes audio</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="videoStreams"></tbody>
        </table>

        <h2>Available Audio Streams</h2>
        <table>
            <thead>
                <tr>
                    <th>Bitrate</th>
                    <th>Audio Codec</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="audioStreams"></tbody>
        </table>
        -->

    </div>
</div>

<script>
    const fetchForm = document.getElementById("fetchForm");
    const videoStreams = document.getElementById("videoStreams");
    const audioStreams = document.getElementById("audioStreams");
    const actions = document.getElementById("actions");
    const streamsDiv = document.getElementById("streams");
    const thumbnail = document.getElementById("video-thumbnail");
    const errorDiv = document.getElementById("error");

    fetchForm.onsubmit = async (e) => {
        e.preventDefault();
        const videoUrl = document.getElementById("videoUrl").value;
        const btnStyle = 'class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition"'

        errorDiv.style.display = "none"; // Hide error message
        errorDiv.innerHTML = ""; // Clear previous errors

        try {
            const res = await fetch(`available_streams?video_url=${encodeURIComponent(videoUrl)}`);
            const data = await res.json();

            if (data.error) {
                throw new Error(data.error);
            }


            actions.innerHTML = `
                    <button onclick="download_video('${videoUrl}')" ${btnStyle}>Download video</button>
                    <button onclick="download_audio('${videoUrl}')" ${btnStyle}>Download audio</button>
                `;

            thumbnail.src = data.thumbnail_url

            /*
            // Populate video streams table
            videoStreams.innerHTML = "";
            data.video_streams.forEach((stream) => {
                const row = document.createElement("tr");
                row.innerHTML = `
                        <td>${stream.resolution}</td>
                        <td>${stream.video_codec}</td>
                        <td>${stream.includes_audio ? "Yes" : "No"}</td>
                        <td><button onclick="download('${videoUrl}', ${stream.itag}) ${btnStyle}">Download</button></td>
                    `;
                videoStreams.appendChild(row);
            });

            // Populate audio streams table
            audioStreams.innerHTML = "";
            data.audio_streams.forEach((stream) => {
                const row = document.createElement("tr");
                row.innerHTML = `
                        <td>${stream.bitrate}</td>
                        <td>${stream.audio_codec}</td>
                        <td><button onclick="download('${videoUrl}', ${stream.itag}) ${btnStyle}">Download</button></td>
                    `;
                audioStreams.appendChild(row);
            });
            */

            streamsDiv.style.display = "block"; // Show streams section
        } catch (error) {
            errorDiv.innerHTML = error.message;
            errorDiv.style.display = "block"; // Show error message
        }
    };

    async function download(videoUrl, itag) {
        window.location = `download?video_url=${encodeURIComponent(videoUrl)}&itag=${itag}`;
    }

    async function download_video(videoUrl) {
        window.location = `download_video?video_url=${encodeURIComponent(videoUrl)}`;
    }

    async function download_audio(videoUrl) {
        window.location = `download_audio?video_url=${encodeURIComponent(videoUrl)}`;
    }
</script>
{% endblock content %}